*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Common */

h1{
    border: 2px solid black;
    height: 30%;
}

.common-container{
    width: 80%;
    margin: auto;
    border: 2px solid black;
    height: 100%;
}

.text-block{
    border: 2px solid black;

}

.regular-text-block{
    height: 70%;
}

.regular-img-container{
    height: 70%;
    border: 2px solid black;
}


/* fine common */

/* HEADER  */
header{
    width: 100%;
    height: 80px;
    background-color: aquamarine;
}

/* FINE HEADER  */


/* MAIN  */


/* FINE MAIN */



/* INIZIO SEZIONI DI MAIN  */

/* jumbotron */
.jumbotron{
    width: 100%;
    height: 500px;
    background-color: rgb(137, 221, 88);
}

.jumbo-container{
    width: 90%;
    margin: auto;
    border: 2px solid black;
    height: 100%;
}

.jumbo-container::after{
    display: table; 
    content: "";
    clear: both;
}


.jumbo-text{
    float: left;
    width: 40%;

}

.jumbo-img-container{
    float: right;
    width: 60%;
}

/* scelta piano */
.piano{
    width: 100%;
    height: 1800px;
    background-color: rgb(88, 221, 221);
}

.column-container{
    width: 100%;
    height: 50%;
}

.piano-column{
    height: 100%;
    display: inline-block;
    width: 30%;
    background-color: dimgrey;
}

.piano-row{
    height: 20%;
    width: 100%;
    background-color: rgb(172, 172, 172);

}

.partner-container{
    height: 30%;
    background-color: rgb(255, 224, 224);
}

.piano-container::after{
    display: table;
    content: "";
    clear: both;
}


.partner-text{
    float: right;
    width: 50%;
}

.partner-img-container{
    float: left;
    width: 50%;
}

.mid-column{
}

/* operazioni */
.operazioni{
    width: 100%;
    height: 800px;
    background-color: rgb(88, 123, 221);
}

/* sponsor */
.sponsor{
    width: 100%;
    height: 600px;
    background-color: rgb(146, 88, 221);
}
/* faq */
.faq{
    width: 100%;
    height: 500px;
    background-color: rgb(217, 88, 221);
}

/* FINE SEZIONI DI MAIN  */

/* FOOTER  */
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(221, 88, 128);
}

/*FINE FOOTER  */
