*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Common */



/* MODIFIERS */
.bg-light-green{
    background-color: #ACD2A0;
}


.bg-light-blue{
    background-color: #4091C9;
}

.bg-dark-blue{
    background-color: #13237C;
}

.bg-light-red{
    background-color: #EA3B2F;
}

.bg-dark-red{
    background-color: #C3292B;
}

.bg-brownish{
    background-color: #59132B;
}

.bg-graysh{
    background-color: #B9CFE5;
}

.bg-yellow{
    background-color: #F9D956;
}

.bg-almost-white{
    background-color: #F3F3F3;
}

.bg-white{
    background-color: #fff;
}

.color-lightblue{
    color: #0160FF;
}

.color-brownish{
    color: #59132B;
}

.color-gray{
 color:  rgb(184, 182, 182);
}



.black{
    color: black;
}

.white{
    color: white;
}


.width-50xc{
    width: 50%;
}

.width-80xc{
    width: 80%;
}


.inline-block{
    display: inline-block;
}

.none{
    display: none;
}

.hover:hover .show{
    display: block;
}

.mrgbottom10px{
    margin-bottom: 20px;
}


.mrgbottom20px{
    margin-bottom: 20px;
}

.mrgbottom30px{
    margin-bottom: 30px;
}

.mrgbottom40px{
    margin-bottom: 40px;
}

.mrgbottom60px{
    margin-bottom: 60px;
}


.mrgbottom150px{
    margin-bottom: 150px;
}

.mrgbottom130px{
    margin-bottom: 130px;
}


.mrgtop60px{
    margin-top: 60px;
}
.mrgtop40px{
    margin-top: 40px;
}
.mrgtop20px{
    margin-top: 20px;
}

.mrg-left-15xc{
    margin-left: 15%;
}

.mrg-auto{
    margin: auto;
}

.padding-vert-70{
    padding-top: 70px;
    padding-bottom: 70px;
} 


.padding-vert-60{
    padding-top: 60px;
    padding-bottom: 60px;
} 


.padding-vert-40{
    padding-top: 40px;
    padding-bottom: 40px;
} 


.padding-vert-30{
    padding-top: 30px;
    padding-bottom: 30px;
} 


.padding-vert-20{
    padding-top: 20px;
    padding-bottom: 20px;
} 

.padding-vert-10{
    padding-top: 10px;
    padding-bottom: 10px;
}


.padding-side-20{
    padding-left: 20px;
    padding-right: 20px;
}

.padding-side-30{
    padding-left: 30px;
    padding-right: 30px;
}

.padding-side-40{
    padding-left: 40px;
    padding-right: 40px;
}
.padding-side-60{
    padding-left: 60px;
    padding-right: 60px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-top-60{
    padding-top: 60px;
}

.padding-bottom-60{
    padding-bottom: 60px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.display-block{
    display: block;
}



.border-visible{
    border: solid 1px rgb(184, 182, 182);
}

.border-visible-up-down{
    border-top: solid 1px rgb(184, 182, 182);
    border-bottom: solid 1px rgb(184, 182, 182);

}

.border-visible-up{
    border-top: solid 1px rgb(184, 182, 182);

}

.border-visible-down{
    border-bottom: solid 1px rgb(184, 182, 182);

}



.border-visible-gray{
    border: solid 1px rgb(184, 182, 182);
}

.border-visible-gray-bottom{
    border-bottom: solid 1px rgb(184, 182, 182);
}

.thick-border{
    border:  10px solid #D5E8CF;
}

.w15vw{
width: 15vw;
}

.h15vw{
height: 15vw;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: relative;
}

.transform{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.text-center{
    text-align: center;
}

.width-70xc{
    width: 70%;
}

.width-60xc{
    width: 60%;
}


.width-50xc{
    width: 50%;
}

.width-20xc{
    width: 20%;
}

.width-10xc{
    width: 10%;
}


.fontsize-20px{
    font-size: 20px;
}

.fontsize-25px{
    font-size: 25px;
}



.fontsize-16px{
    font-size: 16px;
}

.fontsize-14px{
    font-size: 14px;
}



.fontsize-30px{
    font-size: 30px;
}

.fontsize-35px{
    font-size: 35px;
}



.line-height-27{
    line-height: 27px;
}

.line-height-20{
    line-height: 20px;
}

.line-height-25{
    line-height: 25px;
}

.line-height-200{
    line-height: 200px;
}



.bold-600{
    font-weight: 600;
}


.float-right{
float: right;
}

.float-left{
    float: left;
}

.contain{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.underline{
    text-decoration: underline;
}
/* FINE MODIFIERS */

ul{
list-style: none;
}

h1{
    height: 30%;
}

h2{
    font-size: 35px;
}

h4{
    font-size: 14px;
}

a{
    text-decoration: none;
}

.common-container{
    width: 80%;
    margin: auto;
    height: 100%;
}

.text-container{

}


.img-container{
}

.clear-fix::after{
    display: table;
    content: "";
    clear: both;
}


/* fine common */

/* HEADER  */ù

/* PROBLEMA DI ALLINEAMENTO, SE NON METTO VERTICAL ALIGN MIDDLE SIA A LI CHE A IMG L'IMMAGINE NON E' ALLINEATA  */
/* AL CENTRO DEL CONTENITORE, SE INVECE LO METTO GLI LI ESCONO DAL BORDO */


header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
}

.header-row{
    height: 60px;
    line-height: 60px; 
}

header .left-nav{
    float: left;
}

header .right-nav{
    float: right;
}

.sx-list{
    float: left;
}



header li{
    margin: 0px 15px;
    display: inline-block;
    vertical-align: middle;
}

header a{
    text-decoration: none;
    color: #000;
    /* display: inline-block; */
}



.btn{
/* display: inline-block; */
padding: 8px 16px;
font-size: 13px;

}

    

.btn-blue{
    background-color: #0160FF;
    color: white;

}

.btn-blue.btn-col{
    padding-left: 60px;
    padding-right: 60px;
    white-space: nowrap;
}



.logo{
    display: inline-block;
    vertical-align: middle;

}

.sx-list{
    float: left;
}

.immagine-header{
    float: left;
}
/* FINE HEADER  */


/* MAIN  */


/* FINE MAIN */



/* INIZIO SEZIONI DI MAIN  */

/* jumbotron */
.jumbotron{
    width: 100%;
    background-color: #B3D0E7;
    padding-top: 50px;
}

.jumbo-container{
    width: 90%;
    margin: auto;
    height: 100%;
}

h1{
    font-size: 70px;
}

.jumbo-container::after{
    display: table; 
    content: "";
    clear: both;
}


.jumbo-text{
    float: left;
    width: 40%;
    height: 70%;

}

.jumbo-text-content{
padding: 50px;
}

.jumbo-text p{
    padding-bottom: 25px;
    }
    
#annulla{
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}


.arrow{
    font-size: 40px;
}



.jumbo-img-container{
    float: right;
    width: 60%;
    height: 70%;
    margin-top: 40px;
}

.proposta-cliente{
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin-bottom: -65px;
}

/* scelta piano */
.piano{
    width: 100%;
    margin-top: 50px;
}

.piano h2{
    margin-bottom: 25px;
}

.tipo-fatturazione{
    margin-bottom: 15px;
}

.metodo{
    display: inline-block;
}

.cerchio{
border-radius: 50%;
width: 20px;
height: 20px;
line-height: 20px;
display: inline-block;
vertical-align: middle;
}

.scelta-fatturazione{
    display: inline-block;
    vertical-align: middle;
}

.cerchio-blu{
    border: 4px solid #0160FF;
}

.cerchio-nero{
    border: 0.5px solid dimgrey;
}


.column-container{
    width: 100%;
    height: 45%;
}

a.a-col{
    text-decoration: underline;
    color: #0160FF;
}

.line{
    width: 20%;
    border: 1px solid #0e0e0e5d;
}

.check{
    color:  #0160FF;
    font-weight: bold;
}


.piano-column{
    height: 1200px;
    /* display: inline-block; */
    width: calc(92%/3);
    float: left;
}

.col-title{
    font-size: 25px;
}

.mese{
    color: #949ea5;
}

.mid-column{
    margin: 0 4%;
}

.piano-row{
    width: 100%;

}

.partner-container{
    background-color: rgb(255, 224, 224);
}



.partner-text{
    float: right;
    width: 50%;
    height: 100%;

}

#trova-partner{
     font-size: 16px;
     display: inline-block;
     color: black;
}

.partner-img-container{
    float: left;
    width: 50%;
    height: 100%;
}


/* operazioni */
.operazioni{
    width: 100%;
}

.operazioni h2{
    height: 10%;
}

.operazioni-row{
    height: 45%;
    border: 2px solid white; 
}
.operazioni-container{
    height: 100%;
    background-color: white;
    width: calc(90%/3);
    float: left;
}

.common-container.mrgbottom130px{
    margin-bottom: 130px;
}

.mid-container{
    margin: 0 5%;
}

.operazioni-text{
    height: 50%;
}
.operazioni-img-container{
    height: 50%;
}
/* sponsor */
.sponsor{
width: 100%;
height: 600px;
}

.title-container{
width: 80%;
margin: auto;
}

.sponsor-row{
}


.row-element{
    height: 100%;
    float: left;
}

.square{
    width: 30vw;
    height: 30vw;
    background-color: white;
}

.rectangle{
    width: calc(100% - 60vw);
    height: 30vw;
}

.free-trial{
width: 100%;
background-color: #B3D0E7;

}



.free-trial-container{
    background-color: rgb(199, 157, 255);
    width: 80%;
    margin: auto;

}

.free-trial-block{
    width: 50%;
    height: 200px;
    float: left;
    background-color: #B3D0E7;
}

#prova-gratuita{
    margin-left: 15%;
    padding: 5px 30px;
}

/* faq */
.faq{
    width: 100%;
}



/* FINE SEZIONI DI MAIN  */

/* FOOTER  */
footer{
    width: 100%;
    background-color: #000;
}

.footer-column-container{
height: 80%;
}

.footer-bottom{
height: 20%;
}

.footer-column{
    float: left;
    width: 20%;
}

/*FINE FOOTER  */
