*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Common */

/* fine common */

/* HEADER  */


/* FINE HEADER  */


/* MAIN  */


/* FINE MAIN */



/* INIZIO SEZIONI DI MAIN  */

/* jumbotron */

/* scelta piano */

/* operazioni */

/* sponsor */

/* faq */

/* FINE SEZIONI DI MAIN  */

/* FOOTER  */

/*FINE FOOTER  */
